<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: a hook for the emulator end-to-end test. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".TestActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
